.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 28px;
  border-radius: 4px;
  background-color: #ebe6d696;
  color: rgb(51, 51, 51);
  border: solid 1px rgb(155, 155, 155);
  text-wrap: nowrap;
  font-family: "PT Astra Sans", sans-serif;
  /* font-family: inherit; */
}
.header-button {
  width: fit-content;
  font-size: 18px;
  /* font-family: "PT Astra Sans", sans-serif; */
  /* color: white; */
  color: #153e6c;
  background-color: white;
  border: none;
  border-radius: 0px;
  padding: 0 15px 0 15px;
}

.button:hover {
  background-color: #dad5c696;
  cursor: pointer;
}
.header-button:hover {
  background-color: white;
  border-radius: 0px;
  text-decoration: underline;
}
.profile-button {
  width: fit-content;
}

.tab-button {
  color: rgb(51, 51, 51);
  width: fit-content;
  padding: 0 1rem 0 1rem;
  border-collapse: collapse;
  margin-right: 8px;
}

.tab-button-add {
  margin-right: 0;
}
/* .tab-button:hover {
  text-decoration: underline;
  background-color: white;
} */

.filter-button {
  height: 22px;
}

.add-form-index-button {
  width: 150px;
  margin-right: 8px;
  color: rgb(51, 51, 51);
}

.add-form-index-button:visited {
  color: rgb(51, 51, 51);
}
.add-form-index-button:link {
  color: rgb(51, 51, 51);
}

.sort-form-button {
  height: 21px;
}
.delete-button {
  margin-top: 8px;
  background-color: #d20a11;
  font-weight: bold;
  color: white;
}
.delete-button:hover {
  background-color: #d45d61;
}
.export-button {
  font-size: small;
  height: fit-content;
  width: fit-content;
  background-color: white;
}
.export-button:hover {
  text-decoration: underline;
  background-color: white;
}
.export-button:disabled {
  color: rgba(128, 128, 128, 0.623);
  border-color: rgba(128, 128, 128, 0.623);
}
.export-button:disabled:hover {
  text-decoration: none;
}
