.edit-form {
  width: 100%;
}

.input-container {
  display: flex;
}
.input-label-container {
  display: flex;
  flex-direction: column;
}
.edit-form-section {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.datetime-container {
  display: flex;
}
.textarea-el {
  width: 220px;
  height: 80px;
  resize: none;
}

.add-form-button {
  margin-top: 18px;
}

.input-inner {
  display: flex;
}

.input-error {
  margin-left: 10px;
  color: red;
}
.input-el {
  width: 220px;
}

.input-el ::placeholder {
  font-size: 12px;
  color: gray;
}
.select-el {
  width: 227px;
  padding: 3px 0 3px 4px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 2px;
}

.date_ {
  width: 102px;
}

.time_ {
  width: 102px;
}

.time_-label-container {
  margin-left: 9px;
}

.datetime-label {
  font-size: 12px;
}

.add-form-error-msg {
  color: rgb(226, 55, 66);
}
.modal-display {
  display: block;
}
.modal-hide {
  display: none;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-family: "PT Astra Sans Bold", sans-serif;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}
