.header {
	border-bottom: 1px solid #153e6c8c;
	height: 56px;
	display: flex;
	justify-content: center;

	font-family: "PT Astra Sans", serif;
	font-weight: normal;
}

.header-logo {
	position: relative;
}

.header-logo img {
	height: 60px;
}

.header-title {
	color: #153e6c;
	text-align: left;
}

.title-line-1 {
	font-size: 32px;
	position: relative;
	bottom: -4px;
}

.title-line-2 {
	font-size: 16px;
	text-wrap: nowrap;
	position: relative;
	bottom: 4px;
	left: 2px;
}

.top-bar {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: end;

	position: relative;
}

.top-bar-telegram {
	height: 28px;
	display: flex;
	align-items: center;
	color: #41638a;
	margin-right: 2rem;
	font-size: 14px;
	position: relative;
	bottom: -1px;
}

.telegram-logo {
	height: 22px;
	width: 22px;
}

.header-container-middle {
	justify-content: left;
}

.shown {
	display: flex;
}

.hidden {
	display: none;
}
