.container-search {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;

  margin-top: 20px;
  margin-bottom: 20px;
}

.container-main {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.container-left {
  width: 230px;
  display: flex;
}
.container-main-inner {
  display: flex;
  width: 100%;
  padding: 0.5rem;
}
@media (min-width: 360px) {
  .container-main-inner {
    display: flex;
    min-width: 320px;
    padding: 1rem;
  }
}

@media (min-width: 1366px) {
  .container-main-inner {
    display: flex;
    width: 1360px;
    padding: 2rem;
  }
  .container-main {
    justify-content: center;
  }
}
